.is2d .pawn.black {
  background-image: url('./pieces/bp.png') !important;
}

.is2d .knight.black {
  background-image: url('./pieces/bn.png') !important;
}

.is2d .bishop.black {
  background-image: url('./pieces/bb.png') !important;
}

.is2d .rook.black {
  background-image: url('./pieces/br.png') !important;
}

.is2d .queen.black {
  background-image: url('./pieces/bq.png') !important;
}

.is2d .king.black {
  background-image: url('./pieces/bk.png') !important;
}

.is2d .pawn.white {
  background-image: url('./pieces/wp.png') !important;
}

.is2d .knight.white {
  background-image: url('./pieces/wn.png') !important;
}

.is2d .bishop.white {
  background-image: url('./pieces/wb.png') !important;
}

.is2d .rook.white {
  background-image: url('./pieces/wr.png') !important;
}

.is2d .queen.white {
  background-image: url('./pieces/wq.png') !important;
}

.is2d .king.white {
  background-image: url('./pieces/wk.png') !important;
}

body[data-board='green'] .is2d cg-board::before {
  background-image: url('board.svg');
}

body[data-board='green'] .is2d square.last-move {
  background-color: rgb(255, 255, 51);
  opacity: 0.5;
}
